body {
  margin: 0;
  padding: 1rem;
  font-family: sans-serif;
}

.btn-link{
  display: inline-block;
  text-align: center;
  width: 100%;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.0rem;
  background-color: #6666ff;
  border: none;
  padding: 10px;
}

.btn-link:hover{
  text-decoration: none;
  color: #fff;
  background-color: #019bdb;
}

.btn-back{
  background-color: #222836; 
  color: #fff; 
  border: none; 
  font-size: 20px;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
}

.btn-back:hover{
  color: #fff;
  background-color: #272e3f;
  cursor: pointer;
}